.md-typeset blockquote {
    color: var(--md-default-fg-color--dark);
    background-color: var(--md-default-fg-color--lightest);
    margin-left: 0;
    margin-right: 0
}

/* .md-typeset table:not([class]) {
    font-size: .64rem;
} */
