.md-typeset blockquote {
    color: var(--md-default-fg-color--dark);
    background-color: var(--md-default-bg-color);
    margin-left: 0;
    margin-right: 0
}

.headless thead {
    display: none;
}

.openinnewtab a {
    target: "_blank"
}
